.card {
  position: relative;
  width: 100%;
  height: 225px;
  transition: transform 0.3s ease;
}

.card__content {
  width: 100%;
  height: 100%;
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__content.hidden {
  position: absolute;
  visibility: hidden;
}

.card__content.visible {
  opacity: 1;
  position: static;
  visibility: visible;
}

.card:hover {
  transform: scale(1.1);
}

.heart__icon {
  position: absolute;
  cursor: pointer;
  right: 19px;
  bottom: 23px;
  width: 38px;
  height: auto;
  stroke: var(--color-red);
  fill: transparent;
  stroke-width: 4px;
  opacity: 0;
  transition: opacity 0.3s ease, fill 0.2s ease-in, transform 0.3s ease;
}

.heart__icon:hover {
  fill: var(--color-red);
}

.heart__icon:active {
  transform: scale(1.2);
}

.heart__icon.active {
  opacity: 1;
  fill: var(--color-red);
}

.card:hover .heart__icon {
  opacity: 1;
}

.skeleton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 100%;
  background-color: #e0e0e0;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    background-color: #e0e0e0;
  }
  50% {
    background-color: #f0f0f0;
  }
  100% {
    background-color: #e0e0e0;
  }
}
