.favorites {
  margin-top: 47px;
}

.favorites__content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 30px;
  row-gap: 30px;
}

.loader__block {
  grid-column: span 5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--color-black);
}
